main {
  animation: none;
}

.chat .chat__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.chat__message .incoming-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.message img {
  margin-right: 10px;
  animation: spin 1s linear 10s infinite;
}

.message__content {
  margin: 10px 0px;
}

.message .message-author {
  font-size: 18px;
  font-weight: 600;
}

.message-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
}

.incoming-message .message-bubble {
  border-radius: 0px 25px 25px 25px;
  border: 1px solid white;
}

.chat__message .sent-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.chat__message .mesaage-count {
  position: absolute;
  color: #d0c640;
  bottom: 15px;
  right: 160px;
}

.sent-message .message-bubble {
  border-radius: 25px 0px 25px 25px;
  color: #d0c640;
  border: 1px solid #d0c640;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-80px);
  border-radius: 40px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
  color: #d0c640;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 1s ease-out 2s;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 1s ease-out;
}

.chat__message li:nth-child(2) {
  animation-delay: 2s;
}
.chat__message li:nth-child(3) {
  animation-delay: 3s;
}
.chat__message li:nth-child(4) {
  animation-delay: 4s;
}
.chat__message li:nth-child(5) {
  animation-delay: 5s;
}
.chat__message li:nth-child(6) {
  animation-delay: 6s;
}
