.header-wrapper {
  width: 470px;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 10px 10px;
  z-index: 1;
  background-color: #1e1411;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.header .header__column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
